@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

/* sidebar */
.sidebar {
    background-color: #059669;
    padding: 1rem;
    color: white;
}

.logo-group {
    display: grid;
    grid-template-columns: 3rem 3rem;
    align-items: center;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
}

.menu-logo {
    margin: auto;
}

.menu {
    display: grid;
    grid-template-columns: 3rem 3rem;
    align-items: center;
    height: 2rem;
}

.setting-group {
    margin-top: 30px;
}

/* main */
.main {
    background-color: yellow;
}