@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

/* sidebar */
.sidebar {
    background-color: blue;
    padding: 1rem;
    color: white;
}

.logo-group {
    display: grid;
    grid-template-columns: 3rem 3rem;
    align-items: center;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
}

.menu-logo {
    margin: auto;
}

.menu {
    display: grid;
    grid-template-columns: 3rem 3rem;
    align-items: center;
    height: 2rem;
}

.setting-group {
    margin-top: 30px;
}

/* main */
.main {
    background-color: lightgray;
}

/* navbar */
.navbar {
    background-color: white;
    box-shadow: 1px 4px rgb(0 0 0 / 0.1);
    padding-bottom: 10px;
}

.container-max-width {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 55rem;
    margin: auto;
}

.search-group {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    width: 35rem;
    border-radius: 10rem;
    padding: 3px;
    background-color: lightgray;
    border: none;
}

.noti-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
}

.nav-group {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10rem;
}

.nav-heading-group {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-group {
    display: flex;
    align-items: center;
}

.button {
    background-color: blue;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 50px;
}

.main-dashboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
}

.card-div {
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: orange;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 3px;
}

.card-content {
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.card-heading {
    font-size: 16px;
    font-weight: 600;
}

.card-text {
    font-size: 14px;
    font-weight: 300;
    color: gray;
}

.card-links {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 30px;
    padding-bottom: 10px;
}

.card-links > svg {
    width: 20px;
    padding-left: 20px;
}

.announce-card-group {
    background-color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}

.announce-card {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-top: 14px;
}

.announce-card-heading {
    font-size: 15px;
    font-weight: 600;
}

.announce-card-text {
    font-size: 13px;
}